<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <meta charset="utf-8" />
    </head>
<body>
    <h1>Vos notification</h1>
    <div id="error" class="error disable"></div>
    <div id="conteneur">
    
        <% if (locals.alertes) { %>
            <% alertes.forEach(function(alerte){ %>
                <div class="notif" >
                    
                    <h2 class="pseudo" id="<%- alerte._id %>"><%- alerte.streamer %></h2>
                    <p class="type">Type de l'alerte : <%- alerte.type %></p>
                    <p class="etat"><% if (alerte.etat == true) {%> on<% } else{ %> off <% }%></p>
        
                    <button class="modifier">modifier</button>
                    <button class="supprimer">supprimer</button>
                </div>
                
              <% }); %>
        <% } %>
        <div id="ajouter">
            <button>ajouter une nouvelle alerte</button>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script src="/js/ajouterAlerte.js"></script>
</html>