<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/index.css">
        <meta charset="utf-8" />
    </head>
<body>
    <div id="formConteneur">
        <h1>Connexion </h1>

        <form action="/login" method="POST">
            <label for="email">Adresse mail</label>
            <input type="text" name="email" >
            <% if (locals.error404) { %>
                <p class="error"><%= error404 %> <a href="/inscription">,créer votre compte</a></p>
            <% } %>

            <label for="password">Mot de passe</label>
            <input type="password" name="password">
            <% if (locals.errorPassword) { %>
                <p class="error"><%= errorPassword %></p>
            <% } %>
            <input type="submit" value="Submit">
            <p class="info">si vous ne possedez pas de compte, <a href="/inscription">créer votre compte</a> </p>
        </form>
    </div>
</body>
</html>