<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/index.css">
        <meta charset="utf-8" />
    </head>
<body>
    <div id="formConteneur">
        <h1>Inscription</h1>
        <form action="/signup" method="POST">
            <label for="username">Nom</label>
            <input type="text" name="username" >

            <label for="email">adresse mail</label>
            <input type="text" name="email" >
            <% if (locals.error) { %>
                <p class="error"><%= error %></p>
            <% } %>
            <label for="password">Mot de passe</label>
            <input type="password" name="password">

            <label for="Vpassword">Confirmer votre mot de passe</label>
            <input type="password" name="Vpassword">
            <% if (locals.passwordConfirmation) { %>
                <p class="error"><%= passwordConfirmation %></p>
            <% } %>
            <input type="submit" value="Submit">
            <p class="info">si vous possedez un compte, <a href="/">connectez vous</a></p>
        </form>
    </div>
</body>
</html> 